@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #19292a;
}

header {
  position: absolute;
  z-index: 3;
  padding: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  .logo {
    width: 50px;
    img {
      width: 100%;
    }
  }
  nav {
    align-self: center;
    a {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 300;
      padding: 0 10px;
    }
  }
}

#top-section {
  position: relative;
  height: 100vh;
  .blurredbg {
    background-image: linear-gradient(
        45deg,
        rgba(25, 32, 42, 1) 0%,
        rgba(25, 32, 42, 1) 33%,
        rgba(25, 32, 42, 0.83) 36%,
        rgba(25, 32, 42, 0.6) 43%,
        rgba(176, 38, 183, 0.41) 62%,
        rgba(125, 185, 232, 0) 100%
      ),
      url("/img/top.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: absolute;
    filter: blur(40px) saturate(130%);
  }
  .floating-img {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .tekashi-img {
    width: 30%;
    img {
      width: 100%;
      filter: contrast(150%);
      margin-bottom: -3px;
    }
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

#bio {
  display: flex;
  padding: 50px;
  background: black;
  position: relative;
  z-index: 3;
  padding: 100px 0;
  .container {
    display: flex;
  }
  p {
    color: white;
    line-height: 1.8;
    font-size: 0.9rem;
    width: 50%;
    padding: 0 50px;
  }
  .logo-centered {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#media {
  background-image: url("/img/bandana.jpeg");
  background-size: cover;
  padding: 100px 0px;
  .title {
    background: black;
    font-size: 1.1rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 20px;
    color: white;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  .videos {
    padding: 80px 50px 0;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 50px;

    .video {
      border-radius: 4px;
      overflow: hidden;
      -webkit-box-shadow: 0px 13px 24px -8px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 13px 24px -8px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 13px 24px -8px rgba(0, 0, 0, 0.75);

      iframe {
        height: 300px;
        margin-bottom: -3px;
      }
    }
  }
}

#music {
  padding: 80px 0;
  position: relative;

  .blurredbg {
    background-image: linear-gradient(
        45deg,
        rgba(255, 253, 60, 1) 0%,
        rgba(255, 253, 60, 1) 33%,
        rgba(255, 253, 60, 0.83) 36%,
        rgba(255, 253, 60, 0.6) 43%,
        rgba(255, 253, 60, 0.20) 62%,
        rgba(176, 38, 183, 0) 100%
      ),
      url("/img/album69.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    filter: blur(40px) saturate(130%);
  }

  .container {
    display: flex;
    padding: 0 50px;
    position: relative;
    z-index: 3;
  }

  .info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 3rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 15px;
    }

    .sub-title {
      font-size: 1.7rem;
      text-align: center;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 100px;
    }

    .singles {
      width: 400px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 80px;

      li {
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
        margin-bottom: 20px;
      }
    }

    .logos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
  }

  .album-cover {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
    }
  }
}
